<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <!---Import header and footer-->


<main>
    <h3>
        Kaiiiiiiiiiii
    </h3>
<div>
    <h1>404</h1>
    <span>
        <p>Page not found</p>
        <i>fa-regular fa-arrow</i>

    </span>
    <i>fa-regular fa-arrow</i>
    <p>Return to the home</p>
    <span>

    </span>
</div>
</main>


<!---Import header and footer-->

</body>
</html>