

.swiper-slide-one{
    min-height: 88vh;
  
}




span.tiny-dots p{
    position: relative;
    margin-inline-start: 10px;
    display: flex;
}

span.tiny-dots p::before {
    content:'•';
    margin-inline: auto;
 
  
}

.swiper-slide-one .swiper-slide p.text-content{
  width: 50%;
}

   
.swiper-pagination1{margin-block-start: 60px;}

.movie-content{
  left: 0;
  bottom: 35px;  
  transform: translateY(-20px);
  padding-inline: var(--margin-inline);

}


@media screen and (min-width:600px){
    .movie-content{
        width: 70%;
    }

    
article :nth-child(1){
    margin-block: none;
}


.swiper-pagination-bullet{
    width: 14px !important;
    height: 14px !important;
}

}

@media screen and (min-width:768px){
    
    .movie-content{
         width:50%;
          left:30px;
           bottom:55px;
           gap:15px;
           transform: translateY(0);
    }

    

.swiper-pagination-bullet{
    width: 20px !important;
    height: 20px !important;
}

}

@media screen  and (min-width:1800px){
    
.swiper-pagination1{
    
    text-align: right !important;    
    right:0;
    transform: translateY(-700%) !important;
    margin-left: -75px;
}
}


picture.logos{
    display: flex;
    gap: 28px;
    position: relative;
    overflow-x: scroll;
}

picture.logos::-webkit-scrollbar {
    display: none;
  }
  

.logos img{
    max-width: 180px;
   height: 45px;
   border-radius: 14px;
}


@media screen and (min-width:600px) {
    
.logos img{
    max-width: 250px;
    height: 220px;
    border-radius: 18px;
}
    
}

@media screen  and (min-width:767px){
    
.logos img{
    max-width: 320px;
    height: 190px;
    border-radius: 22px;
}
}

#component-two .swiper .swiper-wrapper .swiper-slide{
    height: 403px;
    
}


#component-two .swiper .swiper-wrapper .swiper-slide .swiper-slide-content{
    width: inherit;
    
}






#component-two .swiper .swiper-wrapper picture img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   
}

.swiper-button-prev, .swiper-button-next{
    color: white !important;
    border-radius: 50%;
    background: black;
    padding:30px;
    font-size: 6px;
}



#component-two .swiper .swiper-wrapper .swiper-slide .poster-content{
  position: absolute;
  z-index: 100;
  bottom: 14px;
  left: 30px;

}



span.slash-before::before{
    content:'|';
    margin-block: auto;
    color:#78828A;

 }

 
span p.dot-before{
    margin-inline-start: 2px;
}

span p.dot-before::before {
    content:'•';
    margin-block: auto;
   }


 
#component-three{
    margin-block: 30px;
}
    
    
    #component-three .swiper .swiper-wrapper picture .swiper-slide-content{
        height: 300px;
        width:inherit;
        position: relative;
        
        
  }


    
    #component-three .swiper .swiper-wrapper picture .swiper-slide-content  img{
       object-fit: cover;
         max-width: 180px !important;
        position: relative;
    
    }

 
    


#component-four .content{
   padding-block: 16px
 }
     
 #component-four  .content .description{
   margin-block: 16px;
   margin-inline-start: var(--margin-inline);
 }



    
 #component-four  .content .movie-cards{
    margin-block: 16px;
    margin-inline-start: var(--margin-inline);
 }

 #component-four .movie-cards .swiper-slide {
    height: 360px;
     } 
   
 #component-four .movie-cards .swiper-slide .swiper-slide-content {
     width: inherit;
     height: 360px;
     margin: 0 auto;
    

}
 
 #component-four .movie-cards .swiper-slide .swiper-slide-content{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    
 }
 #component-four .movie-cards .swiper-slide .swiper-slide-content img{
    top: 0;
    left: 0;
   
 }

   
 #component-four .movie-cards .swiper-slide .swiper-slide-content:hover{
   transform: translateX(-14px);    
   cursor: pointer;
 }
 

 .active-slide{

    /*
    I had to use !important here cos of how strong the selector of the element this would be applied to is*/
    border: 2.5px solid green !important;
    filter: grayscale(0%) !important;
    filter: gray !important;
    -webkit-filter: grayscale(0%) !important;
    filter: none !important;
    transition: 1s ease;
 }

     
 #component-four .movie-cards picture.swiper-slide .poster-content {
    position: absolute;
    z-index: 100;
    bottom: 14px;
    left: 30px;
 }



 @media screen and (min-width: 548px){
    
    #component-four {
        min-height: 78vh;
    }
       
    #component-four .main-image {
        min-height: 78vh;
    }

    #component-four .content{
/**
Apparrently the swiper does not really like flexbox*/
        min-height: 65vh; 
        display: flex;
        
        
    }

    
 #component-four .movie-cards .swiper-slide {
    height: 403px;
    
    } 
   
    
 #component-four .movie-cards .swiper-slide .swiper-slide-content{
    height: 403px;
    width: inherit;
    margin: unset;
    

}


#component-four  .content .movie-cards{
     margin-inline-start: 0;
 }

     
 }

 #component-five, #component-six, #component-seven {
     margin-inline-start: var(--margin-inline);
 
 }

/* 
 #component-five  picture.swiper-slide,
 #component-six  picture.swiper-slide,
 #component-seven  picture.swiper-slide
  {
    /* max-width: 360px !important; */
     


 


#component-five  picture.swiper-slide img,
#component-six  picture.swiper-slide img,
#component-seven  picture.swiper-slide img{
    height: 240px;
     width: 360px !important;
    

}

#component-eight .content-wrapper{
    flex-direction: column;
}

/* 
.flex-card{
    display: flex;
    justify-content: flex-start;
}

.flex-card img{
    max-width: 120px;
    max-height: 120px;
    border-radius: 10px;
} */



.live-fast-content picture a img{
    max-width:160px;
} 
.content-wrapper .live-fast-content{
     grid-template-columns: 1fr;
     gap: 10px;
    
}

@media screen and (min-width:600px){

    .content-wrapper{
        gap: 28px;
    }

    .content-wrapper .live-fast-content{
        grid-template-columns: repeat(2,1fr);
       
   }
   
    
}

@media screen and (max-width:300px){
    
.live-fast-content picture a img{
    max-width:100px;
} 


}
@media screen  and (min-width:1024px){
    
#component-eight .content-wrapper{
   flex-direction: row;
   justify-content: space-between;
   

}

/*I had to use this work around cos the swiper kept going crazy*/
/* 
.content-wrapper .awards{
  
} */


    /*Apparently swiper.js is going crazy if I try to put two swipers side by side
    Na the designer do me strong thing*/

/*     
.content-wrapper .live,
.content-wrapper .fast{
    min-width: 160px;
    max-width: 400px;
    flex-basis: 50%;
} */

}




